<%+ extend('layout')%>

<%+ section('headers')%>
    <title>Dashboard</title>
    <script src="/js/app/unitDir.js"></script>
    <script src="/js/app/dashboardServices.js"></script>
    <script src="/js/app/settingsServices.js"></script>
    <script src="/js/app/dashboardCtrl.js"></script>
<%+ endSection%>

<%+ section('content')%>
<div ng-app='app' ng-controller="dashboardCtrl as self" class="container-fluid">
    <div class="row" ng-repeat="pm in powermeters | orderBy: 'order'">
        <div class="col-md-12 powermeter__container" ng-show="pm.show">
            <a class="btn btn-default btn-download" style="margin-top: 10px" href="/download?id={{pm.id}}">Download</a>
            <h3 ng-bind="pm.name" class="powermeter__title"></h3>
            <div unit ng-repeat="register in pm.registers | orderBy: 'order'"
                ng-id="pm.id+'_'+register.address"
                ng-model="register.value"
                ng-title="register.name",
                ng-show-chart="register.show=='chart'",
                ng-hide="register.show=='none'"
                ng-min="register.min"
                ng-max="register.max"
                class="col-xs-{{register.width}}">
            </div>
        </div>
    </div>
</div>
<%+ endSection%>
