<%+ extend('layout')%>

<%+ section('headers')%>
    <title>Settings</title>
<%+ endSection%>

<%+ section('content')%>
<div ng-app='app' ng-controller="settingsCtrl as self" class="container-fluid">
    this is settings.
</div>
<%+ endSection%>
